# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/

# Airflow
airflow*
logs/
webserver_config.py

# Ignore the config
projects/nyctaxi/config/config.csv

# Ignore files in the out
projects/nyctaxi/out/*.json
projects/nyctaxi/out/*.csv

# Ignore parquet output
projects/nyctaxi/tripdata/pq/*.parquet

